<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WildWatch</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'reports:create_report' %}">Submit a Report</a></li>
          <li><a href="{% url 'reports:all_reports' %}">All Reports</a></li>
          <li><a href="{% url 'reports:my_reports' %}">My Reports</a></li>
          <li><a href="{% url 'users:profile' %}">My Profile</a></li>
          {% if user.is_staff %}
          <li><a href="{% url 'reports:pending_reports' %}">ADMIN - Pending Reports</a></li>
          {% endif %}
          <li><a href="{% url 'users:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'users:login' %}">Login</a></li>
          <li><a href="{% url 'users:signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <!-- Display messages -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message|safe }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Main Content -->
    <div class="content">{% block content %} {% endblock %}</div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 WildWatch</p>
    </footer>
  </body>
</html>
