ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.username {
    font-style: italic;
    color: #555;
    margin-left: auto;
    list-style: none;
  }  

.helper-report {
    background-color: #eaffea;
    border: 2px solid #58a758;
}

.helper-badge {
    font-weight: bold;
    color: #388e3c;
}

.no-helper-badge {
    font-weight: bold;
    color: #d9534f;
}

.help-status {
    background-color: #e8f5e9;
    border: 1px solid #7ec16d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.user-report {
    background-color: #ffe6e6;
    border: 2px solid #d9534f;
}

.report-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.admin-user-history {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.edit-history {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 5px 10px;
    margin-left: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}
