{% extends 'base_generic.html' %}

{% block content %}
<h1>Edit Profile</h1>

<h3>Update Profile Details</h3>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" name="save_profile">Save Profile</button>
</form>

<h3>Change Password</h3>
<form method="post">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit" name="change_password">Change Password</button>
</form>

<a href="{% url 'users:profile' %}">Back to Profile</a>
{% endblock %}
