{% extends 'base_generic.html' %}
{% load custom_filters %}
{% load static %}

{% block body_class %}profile-body{% endblock %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center text-center w-100" style="min-height: 250px; background: rgba(0, 0, 0, 0.6); border-radius: 10px; padding: 20px;">
      <div>
        <h1 class="text-center mb-4 text-light fw-bold">My Profile</h1>
        {% if user.profile.profile_picture %}
          <img src="{{ user.profile.profile_picture.url|force_https }}" alt="Profile Picture" class="img-thumbnail rounded-circle profile-picture" style="width: 150px; height: 150px;" loading="lazy" />
        {% else %}
          <img src="https://res.cloudinary.com/duazmtlpi/image/upload/v1735562779/profile_pictures/placeholder.jpg" alt="Default Profile Picture" class="img-thumbnail rounded-circle profile-picture" style="width: 150px; height: 150px;" loading="lazy" />
        {% endif %}

        <!-- Profile Details -->
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <strong>First Name:</strong> {{ user.first_name }}
          </li>
          <li class="list-group-item">
            <strong>Last Name:</strong> {{ user.last_name }}
          </li>
          <li class="list-group-item">
            <strong>Username:</strong> {{ user.username }}
          </li>
          <li class="list-group-item">
            <strong>Email:</strong> {{ user.email }}
          </li>
          <li class="list-group-item">
            <strong>Password:</strong> ********
            <br />
            <small class="text-muted">You can reset your password via the <a href="{% url 'users:password_reset' %}" class="text-decoration-none">Forgot your password?</a> option on the login page.</small>
          </li>
        </ul>

        <!-- Actions -->
        <div class="d-flex justify-content-center gap-3">
          <a href="{% url 'users:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
          <form method="post" action="{% url 'users:delete_account' %}" id="delete-account-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" id="delete-account-button">Delete My Account</button>
          </form>
          <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </div>
      </div>
    </div>
{% endblock %}
